<h2>Welcome to ScreenJedi</h2>
<h3>Home of the GoodBurger</h3>

<p><%= image_tag 'http://burgersofbrooklyn.files.wordpress.com/2010/02/007165_24.jpg' %></p>

<%= link_to "Sign In", signin_url %>
<%= link_to "Sign Up", signup_url %>