.container {
  width: 96%;
  margin: 10px auto;
  max-width: 960px;
}

nav {
  text-align: center;
  padding-bottom: 20px;
}

.screencast, .add-member {
  position: absolute;
  top: 0;
  right: 201px;
}

.screencast:before {
  content: '';
  background-image: url(film-icon.png);
  height: 100px;
  width: 100px;
  font: 0/0 transparent a;
}

nav ul li {
  margin: 6px 0;
}

nav ul li a {
  padding: 6px 0;
  display: block;
  width: 100%;
}

section {
  margin: 10px 0 40px 0;
  padding: 20px;
  background: white;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.14);
}

section ul {
  margin-bottom: 10px;
}

.videos, .employees {
  float: left;
}

.videos {
  width: 69%;
  margin-right: 2%
}

.employees {
  width: 20%;
}

.screenshot {
  background: url(/assets/youtube-fill.png) no-repeat;
  background-size: 200px;
  width: 200px;
  height: 100px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

