.container {
  width: 96%;
  margin: 10px auto;
  max-width: 960px;
}

nav {
  text-align: center;
  padding-bottom: 20px;
}

.screencast, .add-member {
  position: absolute;
  top: 0;
  right: 201px;
}

.screencast:before {
  content: '';
  background-image: url(film-icon.png);
  height: 100px;
  width: 100px;
  font: 0/0 transparent a;
}

nav ul li {
  margin: 6px 0;
}

nav ul li a {
  padding: 6px 0;
  display: block;
  width: 100%;
}

section {
  margin: 10px 0;
  padding: 10px;
}

section ul {
  margin-bottom: 10px;
}