/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /* ===== RESET ===== */

 /*! normalize.css 2011-08-12T17:28 UTC á http://github.com/necolas/normalize.css */


/* Tweaked combination of html5doctor.com Reset Stylesheet v1.6.1, MeyerWeb v2.0b1 Reset, Yahoo YUI Reset & Sonspring Formalize Form Reset, Normalize CSS 
	 Last Updated: 2010-09-17 
	 Authors: Richard Clark - http://richclarkdesign.com Twitter: @rich_clark 
	          Eric Meyer - http://meyerweb.com/ Twitter: @meyerweb 
	          Nathan Smith - http://sonspring.com/ Twitter: @nathansmith
	          Mike Gibson - http://lovehasnologic.com/ Twitter: @lovehasnologic
	          Nicolas Gallagher and Jonathan Neal - http://nicolasgallagher.com/ & http://twitter.com/jon_neal */ 

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; background: transparent; } 
audio:not([controls]) { display: none; }
[hidden] { display: none; }

body { line-height: 1; } 
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; } 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } 
ul { list-style: none; }
nav ul, nav ol { list-style: none; list-style-image: none; }
blockquote, q { quotes: none; } 
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } 
address,caption,cite,code,dfn,th,var { font-style: normal; font-weight: normal; }
a { font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: none; color: inherit; }
a:hover, a:active {outline: none;}
img, object, embed {max-width: 100%; height: auto !important; border: 0;}
svg:not(:root) { overflow: hidden; }

ins { background-color: #ff9; color: #000; text-decoration: none; } 
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; } 
del { text-decoration: line-through; } 
abbr { cursor: help; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; } 
table { border-collapse: collapse; border-spacing: 0; font-size: inherit; font: 100%; }
th { font-weight: bold; vertical-align: bottom; }
td { font-weight: normal; }
hr { display: block; height: 1px; border:0; border-top: 1px solid #ccc; margin: 1em 0; padding:0; } 
input, select { vertical-align:middle; }

em, i { font-style: italic; }
strong, b { font-weight: bold; }
em > strong, strong > em { font-weight: bold; font-style: italic; }

small { font-size: 85%; }
td, td img { vertical-align: top; } 
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; /* CSS2 */ white-space: pre-wrap; /* CSS 2.1 */ white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */ word-wrap: break-word; /* IE */ }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
textarea { overflow: auto; }
.clickble, label, input[type=button], input[type=submit], button { cursor: pointer; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
select, input, textarea { font: 99% sans-serif; }
button { width: auto; overflow: visible; }
button, input, select, textarea { margin: 0; }
.ie6 input { vertical-align: text-bottom; }
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
.ie7 img { -ms-interpolation-mode: bicubic; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

.group:before, .group:after { content:""; display:table; visibility:hidden; }
.group:after { clear:both; }
.group { zoom:1; } /* For IE 6/7 (trigger hasLayout) */

/* ===== NEW CODE =====*/
/* ===== NEW CODE =====*/
/* ===== NEW CODE =====*/
/* ===== NEW CODE =====*/
/* ===== NEW CODE =====*/
/* ===== NEW CODE =====*/
/* ===== NEW CODE =====*/


/* GLOBAL */

html, body {
	height: 100%;
}

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

body {
	background-color: #f0f0ed;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color: #353432;
}

.container {
	width: 960px;
	margin: 0 auto;
	background-color: white;
	padding: 20px;
	height: 100%;
}

a {
	color: #2790B0;
}

a:hover {
	color: #2B4E72;
}

h1 {
	font-size: 2em;
}

h2 {
	color: #94BA65;
	font-size: 1.5em;
	padding-bottom: 20px;
}

/* FORMS */

.form-field {
	margin-bottom: 20px;
}

.form-label, .form-field {
	display: block;
}

.form-label {
	padding-bottom: 6px;
}

.cancel-button {
	position: relative;
	top: 2px;
	padding-left: 6px;
}


/* NAV */

nav {
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

nav ul {
	float: right;
	position: absolute;
	top: 25%;
	right: 0;
}

nav ul li {
	list-style: none;
	float: left;
	padding-left: 16px;
}

nav > ul > li {

}



