/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*global*/

@import url(http://fonts.googleapis.com/css?family=Skranji);

body {
	background-color: #f0f0ed;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica'
}

.container {
	width: 960px;
	margin: 0 auto;
	background-color: white;
	border-radius: 6px;
}

h1 {
	margin: 0 0 0 113px;
	display: inline-block;
	text-indent: -9999px;
	overflow: hidden;
	width: 270px;
	height: 140px;
	background: url("logo.png") no-repeat;
}

h2, h3, h4, h5, h6 {
	font-family: 'Helvetica';
}

h2 {
	color: #698C71;
}

ul {
	list-style: none;
	float: right;
}

nav ul {
	margin: 0;
}



nav ul li a {
	text-decoration: none;
}

/*nav {
	background: #3e4550;
		background: url('linear-gradient.png') 0 0 repeat-x;
	 	background: -moz-linear-gradient(bottom, gray, #fff);
		background: -ms-linear-gradient(bottom, gray, #fff);
		background: -o-linear-gradient(bottom, gray, #fff);
		background: -webkit-linear-gradient(bottom, gray,#fff);
		background: linear-gradient(bottom, gray, #fff);
}*/

nav {
	background: url("linen.png");
}

.contact {
	margin-right: 113px;
}

nav ul li {
	float: left;
}

.title {
	background: #afc8ab;
	border-radius: 6px;
	
}

.title:hover {
	background: gray;
	border-radius: 6px;
	
}
.title a {
	text-decoration: none;
}

td {
	font-size: 14px;
}

.table {
	width: 870px;
	margin: 0 auto	;
}

.yield {
	clear: both;
}

footer {
	background: url("low_contrast_linen.png")
}